.card {
  box-shadow: 0 0 0.0125rem 0.0625rem var(--primary-shadow-color),
    0 0 0.25rem 0.125rem var(--primary-shadow-color);
  border-radius: var(--primary-border-radius);
  max-width: 320px;
  overflow: hidden;
  transition: box-shadow 0.25s;
}

.card__body {
  background-color: var(--reverse-secondary-shadow-color);
  padding: 1rem;
  height: 100%;
}

.gap-xs {
  gap: calc(var(--padding-section) * 0.25);
}

.card__title {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.card__text {
  font-size: 1rem;
  text-align: center;
  margin: 0;
}

.card__footer {
  background-color: var(--reverse-primary-shadow-color);
  padding: 0.5rem 1rem;
}
